<form name="issueForm" layout-padding>
    <h2>Nowe zgłoszenie</h2>
    <md-input-container>
        <label>Tytuł:</label>
        <input type="text" name="title" ng-model="$ctrl.newIssue.title" required />
        <div ng-messages="issueForm.title.$error">
            <div ng-message="required">To pole jest wymagane</div>
        </div>
    </md-input-container>
    <md-input-container class="select-room">
        <label>Sala:</label>
        <md-select name="room" ng-model="$ctrl.newIssue.room" required ng-change="$ctrl.test(room)">
            <md-option ng-repeat="room in $ctrl.rooms" ng-invalid.ng-dirty ng-value="{{ room }}" >{{ room }}</md-option>
        </md-select>
        <div ng-messages="issueForm.room.$error">
            <div ng-message="required">To pole jest wymagane</div>
        </div>
    </md-input-container>
    <md-input-container>
        <label>IP Komputera:</label>
        <input type="text" ng-model="$ctrl.newIssue.ip" />
    </md-input-container>
    <md-input-container>
        <label>Opis problemu:</label>
        <textarea ng-model="$ctrl.newIssue.description"></textarea>
    </md-input-container>
    <md-button class="md-primary md-raised" ng-click="$ctrl.addIssue()" ng-disabled="issueForm.$invalid">Dodaj</md-button>
</form>
