<md-card>
    <md-card-title>
        <h3>{{ $ctrl.issue.title }}</h3>
    </md-card-title>
    <md-card-content layout="row">
        <div layout="column">
            <span class="issue-author">Autor: {{ $ctrl.issue.author }}</span>
            <span class="issue-timestamp">Godzina: {{ $ctrl.issue.time | date:'HH:mm dd MMM yyyy' }}</span>
            <span class="issue-description">Wpis: {{ $ctrl.issue.description }}</span>
        </div>
        <div flex></div>
        <div layout="column" layout-align="end end">
            <span class="issue-status issue-started" ng-if="$ctrl.issue.started && !$ctrl.issue.done">Rozpoczęte</span>
            <span class="issue-status issue-completed" ng-if="$ctrl.issue.done">Zakończone</span>
        </div>
    </md-card-content>
</md-card>
