<md-card>
    <md-card-title>
        <h3>{{ $ctrl.issue.title }}</h3>
    </md-card-title>
    <md-card-content layout="row">
        <div layout="column">
            <span>Autor: {{ $ctrl.issue.author }}</span>
            <span>Godzina: {{ $ctrl.issue.time | date:'medium' }}</span>
            <span>Wpis: {{ $ctrl.issue.description }}</span>
        </div>
        <div flex></div>
        <div layout="column" layout-align="end end">
            <span ng-if="$ctrl.issue.started && !$ctrl.issue.done">Rozpoczęte</span>
            <span ng-if="$ctrl.issue.done">Zakończone</span>
        </div>
    </md-card-content>
</md-card>
